.overAllContainer {
    padding: 30px;
}
.formContainer {
    display: flex;
}

.formSubContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 30px;
}
.grow {
    flex-grow: 1;
}
.orText {
    color: white;
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.searchBtn {
    height: 0;
}
.mainText {
    color: white;
}
@media (min-width: 0px) and (max-width: 768px){
    .overAllContainer {
        padding: 2vh 5vw;
    }
    .formContainer {
        flex-direction: column;
    }
    .formSubContainer {
        margin: 0;
    }
    .orText {
        padding-top: 0;
        text-align: center;
        display: inline;
        margin:10px 0;
    }
    .searchBtn {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .mainText {
        margin: 0;
    }
}