.busesContainer {
    padding:5vh 5vw 5vh 5vw;
    flex-grow: 1;
}
.subContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bottomCard{
    display: flex;
}
.topCard {

}
.bottomCard {
    margin-top: 30px;
    flex-grow: 1;

}