.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 101;
    min-width: 50vw;
}
.subContainer {
    flex-grow: 1;
    contain: strict;
    overflow-y: scroll;
}
.mainText {
    color: white;
}
.titleContainer {
    display: flex;
    justify-content: space-between;
}