.navbar {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;

}
.menuItems {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    list-style: none;
    z-index: 20;
}
.brand {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-left: 30px;
    color: white;
    text-decoration: none;
    white-space: nowrap
}
.show {
    display: inline-flex;
}
@media (min-width: 0px)and (max-width: 1024px){
    /*.menuItems {*/
    /*    flex-direction: column;*/
    /*    position: absolute;*/
    /*    top:72px;*/
    /*    background: #141414;*/
    /*    margin: 0;*/
    /*    width: 100vw;*/
    /*    padding: 0;*/
    /*}*/
    .menuItems {
        display: none;
    }
    .brand {
        margin-left: 5%;
    }
    .burger {
        margin-right: 5%;
    }
    .burgerLines {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
}