.loginSection {
    padding:5vh 5vh 5vw 5vw;
    display: flex;
}
.loginFlexContainer {
    display: flex;
    justify-content: space-around;
}
.loginFormContainer {
    padding: 60px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mainText {
    color: white;
    text-align: center;

}