.trackContainer {
    position: relative;
    padding: 60px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.map {
    z-index: -20;
    width: 100%;
    height: 100%;
    border-radius: 30px;

}
@media (min-width: 0px)and (max-width: 1024px){
    .trackContainer {
        padding: 5vh 5vw ;
    }
}
@media (min-width: 0px)and (max-width: 1024px){

}