.overAllContainer {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.formContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.formSubContainer {
    display: flex;
    align-items: center;
}
.mainText {
    color: white;
}
.orText {
    color: white;
    margin: 0 15px;
}
.inputs {
    margin-bottom: 15px;
    flex-grow: 1;
}
.searchBtn {
    margin-top: 15px;
}