.searchSection {
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    height: 100%;
    padding:60px 0 ;
}
@media (min-width: 0px)and (max-width: 1024px){
    .searchSection {
        margin: 5vh 5vw;
        padding: 0;
    }
}