.container {
    padding: 60px;
    flex-grow: 1;
}
.subContainer {
    padding: 60px;
}
.mainText {
    color: white;
}
.formContainer {
    display: flex;
    align-items: flex-end;
}
.nameInput {
    flex-grow: 1;
    margin-right: 30px;
}
.updateButton {
    flex-grow: 1;
    margin: 10px 0 ;
}
@media (min-width: 0px) and (max-width: 615px) {
    .subContainer {
        padding: 5vh 5vw;
    }
}
@media (min-width: 0px) and (max-width: 1024px) {
    .container {
        padding: 5vh 5vw;
    }
    .formContainer {
        flex-direction: column;
    }
    .nameInput {
        width: 100%;
        margin-right: 0;
    }
    .updateButton {
        width: 100%;

    }
}
