.overAllContainer {
    padding:30px;
}
.mainText {
    color: white;
}
.fomContainer {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-end;
}
.searchBtnContainer {
    margin-left: 30px;
}
.searchBtn {
    padding-right: 15px;
    padding-left: 15px;
}
.orText {
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}
.textInputs {
    flex-grow: 1;
}
@media (min-width: 0px) and (max-width: 768px){
    .overAllContainer {
        padding: 2vh 5vw;
    }
    .fomContainer {
        flex-direction: column;
    }
    .textInputs {
        width: 100%;
    }
    .mainText {
        margin: 0;
    }
    .orText {
        margin: 1vh 0;
        width: 100%;
        text-align: center;
    }
    .searchBtnContainer {
        width: 100%;
        margin-top: 2vh;
    }
}

