.container {
    display: block;
    position: relative;
}
.btn {
    padding: 10px;
    height: 100%;
    width: 100%;
    border: none;
}
.background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    border: none;

}
.blur {
    filter: blur(10px);
}
.green {
    background: linear-gradient(90deg, #9AFF8A 0%, #8AFFE3 100%);
    border-radius: 10px;
}

.red {
    background: linear-gradient(90deg, #F77C7C 0%, #FFF48E 100%);
    border-radius: 10px;
}

.violet {
    background: linear-gradient(90deg, #99A9FF 0%, #D886FF 100%);
    border-radius: 10px;
}

.pink {
    background:linear-gradient(90deg, #FF9797 0%, #FF96D5 93.75%);
    border-radius: 10px;
}